/* -----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact { 
    padding-block: var(--section-padding);
    display: flex; 
    background: black;
    color: white;
    justify-content: space-around;
}

.contact-content { margin-bottom: 50px;

}

.section-subtitle{
    text-align: end;
}
.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: var(--color-primary);
}

.contact-item-icon ion-icon { --ionicon-stroke-width: 40px; }

.contact-item-title { margin-bottom: 10px; }

.contact-list-item .contact-info {
  color: var(--color-secondary);
  font-style: normal;
  line-height: 1.6;
  transition: var(--transition-1);
}

.contact-info:not(address):is(:hover, :focus) { color: var(--color-primary); }

.contac-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: var(--color-primary);
  color: var(--bg-primary);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--transition-1);
}

.contact-social-link:is(:hover, :focus) {
  background: var(--raw-seinna);
  color: var(--white);
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: var(--bg-primary);
  padding: 20px;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}

.form-wrapper { margin-bottom: 25px; }

.form-label {
  color: var(--color-primary);
  font-size: var(--fs-7);
  font-family: var(--ff-poppins);
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper { position: relative; 
    
}

.input-field {
  background: var(--input-bg);
  color: var(--raw-seinna);
  padding: 10px;
  padding-left: 40px;
  border-radius: var(--radius-12);
  transition: var(--transition-1);
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--color-secondary);
  font-size: 20px;
  transition: var(--transition-1);
  
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus { outline: 1px solid; }

.input-field:focus + ion-icon { color: var(--raw-seinna); }

.contact .btn-primary {
  max-width: unset;
  
  background: var(--color-primary);
  color: var(--bg-primary);
  margin-left: 80px;
}

.btn:hover{
 color: white;
 background-color: blue;
} 

@media (max-width:950px)
{
    .contact{
      display: inline-flex;
    }
}

/* @media(max-width:560px)
{
  .contact{
    display: flex;
  }
} */
@media (max-width:550px)
{
  .contact{
    display: flex;
  }
  .section-subtitle{
    text-align: center;
  }
  
}

@media (max-width:480px)
{
  .contact{
    display: block;

  }
  .section-subtitle{
    text-align: center;
  }
  .contact-content{
    margin-left: 10px;
  }
  .contact-form{
    padding: 50px;
  }
}